body{
    background-color: #EDD8E2;   
}


header {
    display: flex;
    align-items: center;
    background-color: #DFB8CC;
    padding: 0em 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    border-bottom: 0.2em solid #e4cbcb;
    z-index: 1;
}

.logo-title {
    display: flex;
    align-items: center;
    color: #9B5372;
}
#logo-title{
    margin-left: 3%;
    padding-top: 5%;
}

#comHeader {
    display: flex;
    align-items: center;
    gap: 1em; 
    position: absolute;
    right: 3%; 
    top: 20%;
}

#comHeader a {
    display: inline-block;
    background-color: #BF7896; 
    padding: 0.4em; 
    border-radius: 0.5em;
}

#comHeader a img {
    display: block; 
    width: 0.8em; 
    height: 0.8em;
}

#comHeader1 {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 2em; 
    position: absolute;
    right: 33%; 
    top: 25%;
    padding-right: 0em;
    
}
.categories{
    padding: 0.1em; 
    color: #9B5372;
}    




footer {
    background-color: #DFB8CC; 
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em 5%; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1%;
    border-top: 0.2em solid #e4cbcb; 
    color: #9B5372;
    font-weight: bold;
}



.footer-left img {
    width: 1.5em; 
    height: auto;
    margin-right: 0.5em; 
}

.footer-right {
    align-items: center;
   padding-right: 6em;
   
}


.footer-left {
    display: flex;
    align-items: center;
    margin-left: -3%;
    padding-left:-10%; 
    gap:1em;
}
a{
    font-size:1.3em;
    
    font-weight: bold;
    color:rgb(3, 3, 3);
    text-decoration: none;
}


.categories:hover, #comHeader a:hover,  .transferToArtist:hover {
    background-color: #EDD8E2; 
    
}

















.custom-container {
    display: flex;
    justify-content: center;
    margin-top: 12%;
   }

.left-box {
    width: 30%;
    height: auto;
    background-color:#DFB8CC;
    color:#9B5372;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0.2em;
    padding: 1em;   
}

.right-box {
    width: 30%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.custom-image {
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}

.transferToArtist {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.5em 1.5em;
    font-size: 1em;
    background-color: #BF7896;
    color: white;
    border-radius: 5px;
   
}










.reviews-container {
    margin-top: 2em;
    margin-bottom: 8.5em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #DFB8CC;
    
}


.reviews-list {
    display: flex;
    overflow-x: auto;
    gap: 0.5em;
    padding-bottom: 0.8em;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f4f4f4;
}




.review-card {
    min-width: 14em; 
    max-width: 15.6em; 
    padding: 0.5em;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
   
}

.user-name {
    font-size: 1em; 
    font-weight: bold;
    color: #BF7896;
}

.user-image {
    width: 10em; 
    height: 10em; 
    border-radius: 5%;
    object-fit: cover;
    margin: 0.625em auto;
}

.review-title {
    font-size: 0.875em;
    font-weight: bold;
    color: #444;
}

.review-text {
    font-size: 0.8125em; 
    color: #555;
    margin-bottom: 0.5em;
    word-wrap: break-word;  /* to go to next line if the line is full*/
    overflow-wrap: break-word; /*if the word is long it will go to next line*/
    white-space: normal; /* allow to have multiple line*/

}




#titel {
    margin-top: 4em;
    margin-left: 2em;
    color: white;
}

.add {
    position: absolute;
    top: 65em;
    right: 3.5em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    background-color: #BF7896;
    color: white;
    border-radius: 0.3125em; 
    
    
}






.review-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 0.5em;
    margin-right: 1em;
    
}

.rating {
    display: flex;
    gap: 3px; 
    background-color: white;
    border-radius: 0.3125em;
}

.star {
    width: 16px; 
    height: 16px;
    
}

.likes {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    font-size: 14px;
    color: #555;
}

.like-icon, .dislike-icon {
    width: 18px; 
    height: 18px;
    cursor: pointer;
}

.like-count, .dislike-count {
    font-weight: bold;
    margin-left: -0.5em;
}








#search-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-box {
    border: none;
    padding: 0.5em;
    width: 200px;
    outline: none;
    font-size: 1em;
}

#search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

#search-icon {
    width: 3em;  /* تعديل حجم الأيقونة حسب الحاجة */
    height: 3em;
}












